<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <!-- Header section -->
<header>
  <h1>
    <img src="https://www.wildcodeschool.com/assets/logo_main-e4f3f744c8e717f1b7df3858dce55a86c63d4766d5d9a7f454250145f097c2fe.png" alt="Wild Code School logo" />
    Les Argonautes
  </h1>
</header>

<!-- Main section -->
<main>

  <!-- New member form -->
  <h2>Ajouter un(e) Argonaute</h2>
  <form class="new-member-form" method="post">
    <label for="name">Nom de l&apos;Argonaute</label>
    <input id="name" name="name" type="text" placeholder="Charalampos" />
    <button type="submit">Envoyer</button>
  </form>

  <!-- Member list -->
  <h2>Membres de l'équipage</h2>
  <table>
  <tbody>
  	 <% for (let i = 0; i < users.length ; i++) { %>

     <tr>
        <td><h3><%= users[i].name %></h3> </td>
        <td><% if (i < users.length-1) { %><h3> <%= users[++i].name %> </h3> <% } %></td>
        <td><% if (i < users.length-1) { %><h3> <%= users[++i].name %> </h3> <% } %></td>
     </tr>
   <% } %>
  </tbody>
</table>
</main>

</body>
<footer>
  <p>Réalisé par Jason en Anthestérion de l'an 515 avant JC</p>
</footer>
</html>
